<div class='flexrow'>
  <section class='flexrow' id='driver-bar'>
    <section class='driver-box'>
      <div class='driver-title'>
        <strong>{{localize 'SWADE.Operator'}}</strong>
        {{#if actor.system.driver.id}}
          <a class='reset-driver'><i class='fas fa-trash'></i></a>
        {{/if}}
      </div>
      <div id='driverImageContainer'>
        {{#if actor.system.driver.id}}
          <img
            src='{{driver.img}}'
            alt='{{driver.name}}'
            class='driver-img hasDriver'
          />
        {{else}}
          <img src='{{driver.img}}' class='driver-img' />
        {{/if}}
      </div>
    </section>
  </section>
  <section>
    <div id='opSkill'>
      <div class='flexrow'>
        <label>{{localize 'SWADE.OpSkill'}}</label>
        <select name='system.driver.skill'>
          {{selectOptions 
            opSkills
            selected=actor.system.driver.skill
            localize=true
          }}
        </select>
      </div>
      {{#if (isEmpty actor.system.driver.skill)}}
        <div class='flexrow'>
          <label>{{localize 'SWADE.AltSkill'}}</label>
          <input
            type='text'
            value='{{actor.system.driver.skillAlternative}}'
            name='system.driver.skillAlternative'
          />
        </div>
      {{/if}}
    </div>
    <div class='roll-maneuver-container'>
      <button
        type='button'
        id='maneuverCheck'
        {{disabled (isEmpty actor.system.driver.id)}}
      >
        {{localize 'SWADE.ManCheck'}}
      </button>
    </div>
  </section>
</div>