.dialog-content {
  .warning-message {
    border: 1px solid var(--color-level-error);
    background-color: color-mix(
      in srgb,
      var(--color-level-error) 25%,
      rgb(255, 255, 255)
    );
    padding: 0.25rem;
    margin-bottom: 0.5rem;
  }
}
