<div class="power flexcol">
    <span class="name">{{parent.name}}</span>
    <section class="fields">
        <ul>
            <li><strong>{{localize 'SWADE.Rank'}}:</strong>&nbsp{{rank}}</li>
            <li><strong>{{localize 'SWADE.PP'}}:</strong>&nbsp{{pp}}</li>
            <li><strong>{{localize 'SWADE.Range._name'}}:</strong>&nbsp{{range}}</li>
            <li><strong>{{localize 'SWADE.Dur'}}:</strong>&nbsp{{duration}}</li>
            <li><strong>{{localize 'SWADE.Trapping'}}:</strong>&nbsp{{trapping}}</li>
        </ul>
    </section>
    <section class="description">
        {{{enrichedDescription}}}
    </section>
</div>